<form id="site-create-form" action="{{ path('app_site_store') }}"
      method="POST">

    <div class="form-group mb-3">
        <label for="domain" class="form-label">Domain</label>
        <span class="small text-muted">site.local (Also add it to the Windows hosts file)</span>
        <input type="text" class="form-control" id="domain" name="domain">
    </div>

    <div class="form-group mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>

    <div class="form-group mb-3">
        <label for="phpVersion" class="form-label">PHP Version</label>
        <select name="phpVersion" id="phpVersion" class="form-control">
            {% for phpVersion in phpVersions %}
                <option value="{{ phpVersion.version }}">
                    {{ phpVersion.version }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group mb-4">
        <label for="documentRoot" class="form-label">Document Root</label>
        <span class="small text-muted">/var/www/site/public</span>
        <input type="text" class="form-control" id="documentRoot"
               name="documentRoot" value="/var/www/">
    </div>

    <div class="form-group mb-3">
        <label for="title" class="form-label">Site Directory</label>
        <span class="small text-muted">/var/www/site/</span>
        <input type="text" class="form-control" id="title" name="siteDirectory" value="/var/www/">
    </div>

    <div class="form-group mb-3">
        <label for="title" class="form-label">Default Document</label>
        <span class="small text-muted">index.php index.html index.htm default.php default.html default.htm</span>
        <input type="text" class="form-control" id="title" name="defaultDocument"
               value="index.php index.html">
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">
            <i class="fa-regular fa-floppy-disk me-2"></i>
            Save
        </button>
    </div>
</form>