<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="tab1" data-bs-toggle="tab"
                data-bs-target="#tab01" type="button" role="tab" aria-selected="true">
            Domain Manager
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab2" data-bs-toggle="tab"
                data-bs-target="#tab02" type="button" role="tab" aria-selected="false">
            VirtualHost
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab3" data-bs-toggle="tab"
                data-bs-target="#tab03" type="button" role="tab" aria-selected="false">
            Access Log
        </button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab4" data-bs-toggle="tab"
                data-bs-target="#tab04" type="button" role="tab" aria-selected="false">
            Error Log
        </button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab5" data-bs-toggle="tab"
                data-bs-target="#tab05" type="button" role="tab" aria-selected="false">
            User.ini
        </button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab6" data-bs-toggle="tab"
                data-bs-target="#tab06" type="button" role="tab" aria-selected="false">
            FPM Pool
        </button>
    </li>
</ul>
<div class="tab-content border border-top-0" id="myTabContent">
    <div class="tab-pane p-3 fade show active" id="tab01" role="tabpanel" tabindex="1">
        {% include 'site/domainManager.html.twig' %}
    </div>

    <div class="tab-pane p-3 fade" id="tab02" role="tabpanel" tabindex="2">
        {% include 'apache_virtual_host/edit.html.twig' %}
    </div>

    <div class="tab-pane p-3 fade" id="tab03" role="tabpanel" tabindex="3">
        {% include 'apache_virtual_host/access.html.twig' %}
    </div>

    <div class="tab-pane p-3 fade" id="tab04" role="tabpanel" tabindex="4">
        {% include 'apache_virtual_host/error.html.twig' %}
    </div>

    <div class="tab-pane p-3 fade" id="tab05" role="tabpanel" tabindex="4">
        {% include 'apache_virtual_host/userIni.html.twig' %}
    </div>

    <div class="tab-pane p-3 fade" id="tab06" role="tabpanel" tabindex="4">
        {% include 'apache_virtual_host/fpmPool.html.twig' %}
    </div>
</div>

{% block javascripts %}
    <script>
        $(document).ready(function () {
            hljs.configure({ ignoreUnescapedHTML: true });

            $('code').each((i, el) => {
                if (el.dataset.highlighted) {
                    delete el.dataset.highlighted;
                }
                hljs.highlightElement(el);
            });
        });
    </script>
{% endblock %}