<form action="{{ path('app_database_store') }}" method="POST">

    <div class="form-group mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>

    <div class="form-group mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>

    <div class="form-group mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="text" class="form-control" id="password" name="password">
    </div>

    <div class="form-group mb-3">
        <label for="permission" class="form-label">Permission</label>
        <select class="form-control" id="permission" name="permission">
            <option value="localhost">Localhost</option>
            <option value="*">Everyone</option>
        </select>
    </div>

    <div class="form-group mb-3">
        <label for="note" class="form-label">Note</label>
        <textarea class="form-control" rows="5" id="note" name="note"></textarea>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            {{ 'btn.close' | trans }}
        </button>
        <button type="submit" class="btn btn-success">
            <i class="fa-regular fa-floppy-disk me-2"></i>
            {{ 'btn.save' | trans }}
        </button>
    </div>
</form>