<p class="text-body-tertiary">{{ apacheVirtualHostDto.virtualHost.name }}</p>

<form id="site-create-form" action="{{ path('app_apache_virtualhost_update', {id: site.id}) }}"
      method="POST">

    <div class="form-group mb-4">
        <textarea cols="30" rows="20" class="form-control block-code"
                  id="virtualHostConf"
                  name="virtualHostConf"
                  spellcheck="false">{{ apacheVirtualHostDto.virtualHost.content }}</textarea>
    </div>

    <div class="text-end">
        <button type="submit" class="btn btn-success">
            <i class="fa-regular fa-floppy-disk me-2"></i>
            {{ 'btn.save' | trans }}
        </button>
    </div>

</form>
