<p>Cria um arquivo `.user.ini` no Document Root do site.</p>
<form id="site-create-form" action="{{ path('app_apache_userini', {id: site.id}) }}"
      method="POST">

    <div class="form-group mb-4">
        <textarea cols="30" rows="10" class="form-control block-code"
                  id="userIni"
                  name="userIni" spellcheck="false">{{ apacheVirtualHostDto.userIni }}</textarea>
    </div>

    <div class="text-end">
        <button type="submit" class="btn btn-success">
            <i class="fa-regular fa-floppy-disk me-2"></i>
            Save
        </button>
    </div>
</form>

<hr>

<div class="text-secondary">
    <p>Exemplo de configuração</p>
    <pre><code class="language-ini">upload_max_filesize = 50M
post_max_size = 50M
memory_limit = 256M
</code></pre>
</div>
