<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="tab01" data-bs-toggle="tab"
                data-bs-target="#tabPanel01" type="button" role="tab"
                aria-controls="tabPanel01" aria-selected="true">Service
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab02" data-bs-toggle="tab"
                data-bs-target="#tabPanel02" type="button" role="tab"
                aria-controls="tabPanel02" aria-selected="false">
            Configuration
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab03" data-bs-toggle="tab"
                data-bs-target="#tabPanel03" type="button" role="tab"
                aria-controls="tabPanel03" aria-selected="false">
            Log
        </button>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade p-3 border border-top-0 show active"
         id="tabPanel01" role="tabpanel"
         aria-labelledby="tab01" tabindex="0">

        <p class="my-4 h5">
            Current
            status: {{ apacheStatus ? 'active' : 'inactive' }}
        </p>

        <div class="">
            <a href="{{ path('app_apache_start') }}"
               class="btn btn-secondary me-3">
                <i class="fa-solid fa-play me-2"></i> Start
            </a>

            <a href="{{ path('app_apache_restart') }}"
               class="btn btn-secondary me-3">
                <i class="fa-solid fa-rotate me-2"></i> Restart
            </a>

            <a href="{{ path('app_apache_stop') }}"
               class="btn btn-secondary me-3">
                <i class="fa-solid fa-stop me-2"></i> Stop
            </a>
        </div>
    </div>

    <div class="tab-pane p-3 border border-top-0 fade" id="tabPanel02"
         role="tabpanel"
         aria-labelledby="tab02" tabindex="0">
        Configuration ...
    </div>

    <div class="tab-pane p-3 border border-top-0 fade" id="tabPanel03"
         role="tabpanel"
         aria-labelledby="tab03" tabindex="0">
        Log ...
    </div>

</div>
