<footer class="footer mt-auto py-5">
    <div class="container">
        <div class="text-center small text-body-tertiary">
            <p>
                Developed by <a href="//www.linkedin.com/in/fernandovaller/"
                                class="link-underline link-underline-opacity-0 text-body-tertiary "
                                target="_blank"
                                rel="noopener">fernandovaller</a>
            </p>
        </div>
    </div>
</footer>